
@{
    ViewData["Title"] = "Sign In";
}


<p>
    <label> <a asp-area="admin" asp-controller="Home" asp-action="Index">Work as admin</a> </label><br/>
</p>

<p>
    <label> <a asp-area="manager" asp-controller="Home" asp-action="Index">Work as manager</a> </label><br/>
</p>

<p>
    <label> <a asp-area="shopper" asp-controller="Home" asp-action="Index">Work as shopper</a> </label><br/>
</p>

